#!/bin/bash

# ─────────────────────────────────────────────
# This script configure sketchybar
#   - Make plugins executable 
# ─────────────────────────────────────────────


# ─────────────────────────────────────────────
#  Adding the log method
# ─────────────────────────────────────────────

LOG_PATH="${CHEZMOI_SOURCE_DIR:-$(chezmoi source-path)}/scripts/log.sh"
source "$LOG_PATH"

log info "Make plugins executable"
chmod +x ~/.config/sketchybar/plugins/*.sh

log info "restart sketchybar config"
brew services restart sketchybar

log info "restart janky borders"
brew services restart borders

log success "✅ sketchybar setup complete"

